.panel {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.panel-header {
    padding: 15px 20px 15px 20px;
    background-color: #eee;
}

.panel-header-dark {
    padding: 15px 0px 15px 20px;
    background-color: #737373;
    color: white;
}

.panel-content {
    padding: 20px;
}