.table {
    width: 100%;
    border-collapse: collapse;
}

.table > tbody > tr > td {
    padding: 20px;
    border-left: #ddd 1px solid;
    border-right: #ddd 1px solid;
}

.table-img {
    text-align: center;
}

.table > tbody > tr:nth-child(odd) {
    background-color: #eee;
}
.table-action {
    width: 100px;
    padding: 0px !important;
}
.table-action button {
    width: 100%;
    padding: 10px;
}